body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(221, 111, 68);
  color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
