html {
  height: 100%;
  width: 100%;
  background-color: #ff9b3ee8;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
